*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    background-color:#7a8c8f;
    padding: 16px 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    cursor: pointer;
}

header img{
    height: 30px;
    padding-right: 12px;
}

form{
    display: none;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 16px 0;
    background-color:#b5cdd1;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

form input{
    padding: 8px;
    margin: 0 8px;
    width: 360px;
}

form button{
    padding: 8px;
    margin: 0 8px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover{
    scale: 1.1
}

#add-button{
    background-color: #008000;
}

#cancel-button{
    background-color: #ff0000;
}

ul{
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: 32px auto;
    padding: 16px;
    border: solid 1px #000;
    border-radius: 16px;
    box-shadow: 0 0 16px #7a8c8f;
}

ul p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 4px 0;
}

ul li{
    font-size: 16px;
    text-align: center;
    align-items: center;
    list-style-position: inside;
    list-style: none;
    margin: auto;
    padding: 4px 0;
    cursor: pointer;
}

ul li:hover{
    scale: 1.05;
}

footer{
    position: absolute;
    bottom: 0;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    max-width: 960px;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color:#7a8c8f;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

footer a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.riscado{
    text-decoration: line-through;
}